<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="my-5 container">
      <div class="jumbotron text-center bg-primary p-4 text-white">
        <h1>Ticket dispensor for Simplon students &#127903;</h1>
      </div>

      <div class="my-3 jumbotron text-center bg-secondary p-2 text-white">
        <h3>
          &#128128; Here it's just like at the fish market &#128032;, you have
          to get in line
        </h3>
      </div>

      <!--////////////////////////////////////////////////////////////////CREATE A TICKET FORM////////////////////////////////////////////////////////////////-->
      <!-- Form start -->
      <form
        class="my-5d-flex flex-row d-flex justify-content-between container-fluid align-items-center p-4"
        id="createTicket"
        method="POST"
        action="/"
      >
        <!-- Select person   -->
        <div>
          <label for="inputGroupSelect01" class="me-5" >Your name:</label>
          <select class="custom-select" name="userId" id="inputGroupSelect01">
            <% for(var i = 0; i < user.length; i++) {%>
            <option value="<%= user[i].id %>" > <%= user[i].username %></option>
            <% } %>
          </select>
        </div>

        <!-- Task name -->
        <div>
          <label for="newTicket" class="me-5">Ticket description:</label>
          <input
            type="text"
            class=""
            id="newTicket"
            placeholder="Insert task"
            name="ticketName"
          />
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block">
          I want some help! &#128075;
        </button>
      </form>
      <!--////////////////////////////////////////////////////////////////LIST OF STUDENTS////////////////////////////////////////////////////////////////-->

      <div class="d-flex justify-content-center flex-column">
        <div class="my-3 jumbotron text-center bg-secondary p-2 text-white">
          <h3 id="task">List of students</h3>
        </div>

        <button type="button" class="my-2 mx-auto btn btn-primary">
          Next!
        </button>
      </div>

      <div class="my-3 table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Ticket ID</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Date</th>
              <th scope="col">Skip turn</th>
            </tr>
          </thead>
          <tbody>
            
            <% for(var i = 0; i < ticket.length; i++) {%>
              <tr class="task_name"></tr>
                <td class="task_name"><%= ticket[i].id %></td>
                <td class="task_name"><%= user.find(data => data.id === ticket[i].users_id ).username%></td>
                <td class="task_name"><%= ticket[i].subject %></td>
                <td class="task_name"><%= ticket[i].date %></td>
                <td></td>
              </tr>
            <% } %>
        
          </tbody>
        </table>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
    <script src="../public/script.js"></script>
  </body>
</html>
